# MatchZy warmup — competitive-friendly defaults
mp_freezetime 5
mp_warmuptime 300
mp_warmup_pausetimer 1
mp_maxrounds 24
mp_overtime_enable 1
sv_infinite_ammo 0
mp_buy_anywhere 0
mp_death_drop_gun 1
mp_ct_default_primary ""
mp_t_default_primary ""
mp_solid_teammates 1
ammo_grenade_limit_default 1
ammo_grenade_limit_flashbang 2
ammo_grenade_limit_total 4
mp_autokick 0
mp_autoteambalance 0
mp_limitteams 0
sv_alltalk 0
sv_deadtalk 1
sv_talk_enemy_living 0
sv_talk_enemy_dead 0
mp_team_intro_time 0
mp_team_timeout_max 4
mp_team_timeout_ot_max 1
mp_team_timeout_time 30
